body {
    background: #ffffff;
}
#calculator {
    width:340px;
    height:450px;
    background: #dcdcdc;
    margin:50px auto;
    border-radius: 10px;
}
button {
    border: 1px;
    background: white;
    color: #000000;
}
.rows {
    width:350px;
    margin-top:10px;
}
/* Стили кнопок */
.btn-style , .function {
    width:65px;
    height:40px;
    margin-left:6px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
    background-color: #fffbfb;
    box-shadow: 0 3px #2D304E
}
.btn-style:active:focus {
    outline: none;
}
.btn-style:active {
    box-shadow: 0 0px;
    transform: translateY(3px);
}
.btn-memory {
    width: 55px;
    height: 30px;
    border: 2px;
    border-color: white;
    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
    background-color: #fffbfb;
    box-shadow: 0 3px #2D304E
}
.btn-memory:active:focus {
    outline: none;
}
.btn-memory:active {
    box-shadow: 0 0px;
    transform: translateY(3px);
}
.first {
    margin-left: 25px;
}
#output {
    font-family: sans-serif;
    width:290px;
    height:60px;
    margin:20px auto;
    border:1px;
    background: #fffff7;
    color: #000000;
    padding-top:20px;
    font-size:35px;
    margin-left: 25px;
    border-radius: 7px;
    outline: none;
    overflow: hidden;
    letter-spacing: 4px;
    position: relative;
    top:10px;
}
#display {
    margin-top: 20px;
    text-align: right;
    font-size: 20px;
}
#display:hover {
    cursor: text;
}
#input {
    display: inline-block;
    position: absolute;
    text-align: left;
    margin-left: 5px;
    margin-top: -15px;
    height: auto;
    font-size: 20px;
}
